
h1 {
    border-radius: 15px;
    background-color: rgb(211, 8, 8);
    padding: 20px; 
    width: 80px;
    height: 30px; 
    background-position: center;
    left: 50%; 
    top: 50%;
    
  } 

  body {

}

  form{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .login_fenster{
    border: 10px ridge rgb(15, 11, 211);
    padding: 0.5rem;
    flex-direction: column;
    position: center;
    background-image: url("../img/hintergrund.jpg") ;
    background-size: cover;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: 1;
    background-repeat: no-repeat;
  }