
h1 {
    border-radius: 15px;
    background-color: black;
    padding: 20px; 
    width: 80px;
    height: 30px; 
    background-position: center;
  } 
body {
    color: rgb(255, 255, 255);
    background-image: url("../img/hintergrund.jpg") ;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 250%;
  }
  form{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .login_fenster{
    border: 10px ridge rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    flex-direction: column;
    position: center;
  }